[submodule "yojimbo"]
	path = yojimbo
	url = https://github.com/mas-bandwidth/yojimbo.git
[submodule "third_party/yojimbo"]
	path = third_party/yojimbo
	url = https://github.com/mas-bandwidth/yojimbo.git
[submodule "yojimbo_test/yojimbo"]
	path = yojimbo_test/yojimbo
	url = https://github.com/mas-bandwidth/yojimbo.git
